.container {
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.miniImg{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 150px;
}

.fullImg {
    width: 600px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 30px;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}

.fullImg img{
    width: 100%;
}

.selected {
    outline: 4px solid black;
    z-index: 1;
}

.small {
    cursor: pointer;
}

.miniImg a{
    text-decoration: none;
    color: black;
    font-size: 80px;
    font-weight: bold;
}
