table {
    font-family: Impact, sans-serif;
    font-size: 55px;
    background-color: rgb(235, 235, 235);
    color: #000000;
}

td {
    height: 70px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
}
tr:nth-child(even) td:nth-child(odd) {
    background-color: rgb(168, 168, 168);
}
tr:last-child td:nth-child(odd), tr:first-child td:nth-child(even) {
    background-color: rgb(235, 235, 235);
}
tr:nth-child(odd) td:nth-child(even) {
    background-color: rgb(168, 168, 168);
}
tr:nth-child(even) td:first-child {
    background-color: rgb(235, 235, 235);
}
tr:nth-child(even) td:first-child {
    background-color: rgb(235, 235, 235);
}

tr:last-child td:nth-child(odd), tr:first-child td:nth-child(even) {
    background-color: rgb(235, 235, 235);
}
